{% extends "user/layout.html" %}

{% block content %}

<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="display-4">About Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Arte Subterráneo is dedicated to discovering and promoting young musical talent from around the world. We provide a platform for underground artists to showcase their unique sounds and connect with a global audience.</p>
        </div>
        <div class="col-md-6">
          <p class="lead">Our mission is to empower emerging artists by giving them the opportunity to share their music, connect with fellow musicians, and gain exposure in the music industry. Whether you're an artist looking to share your work or a music enthusiast searching for fresh and diverse sounds, Arte Subterráneo is the place to be.</p>
        </div>
      </div>
    </div>
  </section>
  
    {% endblock content%}
   

