{% extends "user/layout.html" %}
{% block content %}
<div class="container mt-5 dashboard">
    <h2 class="text-center">Damn! You encountered an error! </h2>
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-content">
          <div class="profile-info text-center">
            <h1 style="font-size: 36px; color: #ff5757;">Oops! Something went wrong.</h1>
            <p style="font-size: 18px; color: #ff5555;">We apologize, but there seems to be an issue with our website at the moment.</p>
            <p style="font-size: 18px; color: #ff5555;">Please try again later or contact our support team if the problem persists.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

    {% endblock content%}
