


{% extends "user/layout.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center;">Coming Soon...</h1>
<!-- <div class="container mt-5 dashboard">
    <h2 class="text-center">Welcome to Your Dashboard</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-content">
          <h3>Your Profile</h3>
          <div class="profile-info">
            <div class="row">
              <div class="col-md-4">
                <img src="/static/artepic.jpeg" alt="Profile Picture" class="img-fluid rounded-circle profile-picture">
              </div>
              <div class="col-md-8">
                <h4>Name: TheCheat23</h4>
                <p>Location: Lagos, Nigeria</p>
                <p>Genres: Emo Trap, Indie Rock, Hip-Hop, Lo-fi</p>
                <h5>Bio:</h5>
                <p>
                  A Fusion of Liberian and Nigerian Passion
                </p>
                <p>
                  Meet TheCheat23, a captivating rapper blending the essence of his Liberian and Nigerian roots into every lyric. Born Michel Gabriel Gbenga Akerele, he's an artist whose music resonates with unity, love, and cultural fusion.
                </p>
                <p>
                  Guided by his sixth-grade love for music, TheCheat23 weaves his personal experiences into a tapestry of shared stories. His verses delve into themes of identity, emotions, and the transcendence of music beyond boundaries. A master of rhythm and melody, his journey from an enthusiast to a charismatic rapper showcases his dedication and authenticity, as he crafts a unique sound that bridges cultures and inspires change.
                </p>
                <ul class="list-unstyled social-media">
                  <li><a href="https://facebook.com/thecheat23" target="_blank">Facebook</a></li>
                  <li><a href="https://twitter.com/thecheat23" target="_blank">Twitter</a></li>
                  <li><a href="https://instagram.com/thecheat23" target="_blank">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br> -->
            {% endblock content%}
    
       