{% extends "/super_admin/loginlayout.html" %}
{% block content %}

{%set m = get_flashed_messages(with_categories=True)%}    
    {% if m: %}
    {%for cat,i in m%}
        {% if cat=='error'%}
            <div class="alert alert-danger">{{i}}</div>
        {%else%}
            <div class="alert alert-danger">{{i}}</div>
        {%endif%}
    {%endfor%}
    {%endif%}


                                
    <form id="loginForm" method="POST" style="border-radius: 30px;">
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            {{reg.Username.label}}
            {{reg.Username(class_='form-control',placeholder="Enter your username")}}
        </div>
        <br>
        <div class="form-group">
            {{reg.Password.label}}
            {{reg.Password(class_='form-control',placeholder="Enter your password")}}
        </div>
        <br>
        
        <input type="submit" name="btn" class="btn btn-primary col-md-12 " id="loginButton" value="Log In">

        
    </form>




{% endblock content %}